<div class="flex flex-col justify-center font-[sans-serif] sm:h-screen p-4">
  <div class="max-w-md w-full mx-auto border-gray-300 rounded-2xl p-8">
    <div class="text-center text-4xl mb-12 text-green-900">
      <h2 class="lg:text-6xl text-4xl font-extrabold lg:leading-[55px] text-green-900">
        Research Finder
      </h2>
    </div>

    <div class="text-center mt-6">
      <button
      class="bg-blue-600 text-white font-bold py-2 px-4 rounded"
      (click)="goToHowItWorks()">How It Works</button>
    </div>


    <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
      <div class="space-y-6">
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Email Id</label>
          <input type="text" formControlName="email"
            class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500"
            placeholder="Enter email" required />
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Username</label>
          <input type="text" formControlName="username"
            class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500"
            placeholder="Enter username" required />
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Password</label>
          <input type="password" formControlName="password"
            class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500"
            placeholder="Enter password" required />
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Confirm Password</label>
          <input type="password" formControlName="confirmPassword"
            class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500"
            placeholder="Enter confirm password" required />
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">User Type</label>
          <select formControlName="userType"
            class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500">
            <option value="participant">Participant</option>
            <option value="researcher">Researcher</option>
          </select>
        </div>
      </div>

      <p *ngIf="registrationForm.invalid && registrationForm.touched" class="text-red-500 text-sm mt-4">
        Please fill out all required fields correctly.
      </p>

      <div class="!mt-8">
        <button type="submit"
          class="w-full py-3 px-4 text-sm tracking-wider font-semibold rounded-md text-white bg-green-900 hover:bg-green-700 focus:outline-none">
          Create an account
        </button>
      </div>
      <p class="text-gray-800 text-sm mt-6 text-center">
        Already have an account?
        <a routerLink="/login" routerLinkActive="active" class="cursor-pointer text-green-500 font-semibold hover:underline ml-1">Login here</a>

      </p>
    </form>
  </div>
</div>

