  <section class="text-gray-600 body-font">
    <div class="container px-5 py-2 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <br><h2 class="text-xm text-green-700 tracking-widest font-medium title-font mb-1">University of North Texas</h2><br>
        <h1 class="sm:text-6xl text-2xl font-medium title-font mb-4 text-gray-900">Research Finder</h1><br>
        <p class="lg:w-2/3 text-green-900 mx-auto leading-relaxed text-base">Discover exciting research opportunities led by professors at UNT. Whether you're a researcher seeking engaged participants to test and refine your tools or a student looking to gain hands-on research experience, Research Finder connects you to the right opportunities.

            Join a network of innovators, contribute to meaningful research, and explore projects that align with your interests. Whether you're here to publish, participate, or explore, Research Finder is your gateway to cutting-edge academic collaboration.
            
            </p>
      </div>
      
    </div>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-10 mx-auto">
          <div class="flex flex-wrap -mx-4 -mb-10 text-center">
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="images/forResearchers.png">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">For Researchers</h2>
              <p class="leading-relaxed text-base">Share your projects, gather real-world feedback, and refine your tools with engaged participants.</p>
              <button routerLink="/login" class="flex mx-auto mt-6 text-white bg-green-900 border-0 py-2 px-5 focus:outline-none hover:bg-green-600 rounded">Get Started</button>
            </div>
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="images/forParticipants.png">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">For Participants</h2>
              <p class="leading-relaxed text-base">Explore a variety of research studies, test innovative tools, and get rewarded for your insights.</p>
              <button routerLink="/login" class="flex mx-auto mt-6 text-white bg-green-900 border-0 py-2 px-5 focus:outline-none hover:bg-green-600 rounded">Get Started</button>
            </div>
          </div>
        </div>
  </section>


    <div class="flex flex-wrap">
        
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">How It Works</h2>
          <p class="leading-relaxed text-base mb-4">Learn how to participate or publish research in just a few simple steps. Click to get started! 🚀</p>
          <a class="text-green-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Our Mission </h2>
          <p class="leading-relaxed text-base mb-4">At Research Finder, we bridge the gap between researchers and participants, enabling innovation through real-world testing and feedback. Join us in advancing research and discovery!</p>
          <a class="text-green-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">About Us: </h2>
        <p class="leading-relaxed text-base mb-4">Learn more about Research Finder—our mission, vision, and how we connect researchers with participants to drive innovation and discovery.</p>
        <a class="text-green-500 inline-flex items-center">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Contact Us</h2>
        <p class="leading-relaxed text-base mb-4">Have questions or need support? We're here to help! Reach out to us for inquiries, assistance, or collaboration opportunities.
        </p>
        <a class="text-green-500 inline-flex items-center">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div><br><br>
  </section>

